html{
	width: 100%;
	height: 100%;
}

body{
	background: url('wallpaper.jpg') repeat 100% 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

a{
  background: url('category-icons.png') no-repeat 0 0;
  width: 50px;
  height: 50px;
  display: block;
}

.apparel              { background-position: 0        0       ; }
.arts                 { background-position: -50px    0       ; }
.automotive           { background-position: -100px   0       ; }
.baby                 { background-position: -150px   0       ; }
.books                { background-position: -200px   0       ; }
.computers            { background-position: -250px   0       ; }
.electronics          { background-position: -300px   0       ; }
.furniture            { background-position: -350px   0       ; }
.ghpc                 { background-position: -400px   0       ; }
.home                 { background-position: -450px   0       ; }
.home-improvement     { background-position: 0        -50px   ; }
.industrial           { background-position: -50px    -50px   ; }
.jewelry              { background-position: -100px   -50px   ; }
.movies               { background-position: -150px   -50px   ; }
.musical-instruments  { background-position: -200px   -50px   ; }
.office               { background-position: -250px   -50px   ; }
.garden               { background-position: -300px   -50px   ; }
.pets                 { background-position: -350px   -50px   ; }
.shoes                { background-position: -400px   -50px   ; }
.software             { background-position: -450px   -50px   ; }
.sports               { background-position: 0        -100px  ; }
.tools                { background-position: -50px    -100px  ; }
.toys                 { background-position: -100px   -100px  ; }
.video-games          { background-position: -150px   -100px  ; }
.b2b                  { background-position: 0        -150px  ; }
.services-1           { background-position: -50px    -150px  ; }
.commodities          { background-position: -100px   -150px  ; }
.services-2           { background-position: -150px   -150px  ; }
.rentals              { background-position: -200px   -150px  ; }
.used                 { background-position: -250px   -150px  ; }

